.mail-filterBar-container {
  flex-grow: 1;

  max-width: 200px;
  padding: 1em;
  background-color: #e5e5e5;
}



.compose-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  
  border: none;
  border-radius: 10px;
  color: #5f6368;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;


}

/* .compose-btn i {
  font-size: 1.2rem;
} */

.compose-btn:hover {
  /* background-color: #a1d4f7; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* .compose-btn:active {
  background-color: #7bbde5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
} */

.mail-filterBar-container p {
  display: flex;
  gap: 1em;
  margin: 0.5em;
  padding: 0.4em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.mail-filterBar-container img {
  max-width: 15px;
}

.mail-filterBar-container p:hover {
  background-color: grey;
}

.mail-filterBar-container.collapsed {
  width: 50px;
}

.mail-filterBar-container.collapsed span {
  display: none;
}
